
/* General rules */
html {
  font-size:16px;
  font-family:'Ubuntu',Helvetica,sans-serif;
  color:darkslategray;
}



h1,
h2,
h3
{
  font-family:'Kreon',cursive,serif;
  color: rgb(0,128,128);
}

h1 {
  font-size:3rem;
  padding-bottom:2rem;
}

h2 {
  font-size:3rem;
  padding-bottom: 1rem;
}

h3 {
  font-size:1.75rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-size:1.75rem;
  padding-bottom:2rem;
}

a {
  text-decoration:none;
  color:rgb(0,128,128);
}

a:active {
  font-weight:bold;
}

a:hover {
  color:lightgray;
  cursor:pointer;
}

a:visited {
  color:rgb(0, 77, 77);
}

.container {
  padding: 2rem 1.5rem;
  margin: 0 auto;


}

img {
  max-width:100%;
  border-radius:0px 50px;
}

.image-container {
  width:60%;
  margin-right:1.5rem;
}

p {
  line-height: 1.25rem;
}

#mobileimage {
  display:none;
}


                  /*General media queries */
@media only screen and (max-width: 1024px) {

  img {
    border-radius:0px 35px;
  }

h1 {
  font-size:2.2rem;
  }

h2 {
  font-size:1.9rem;
  }

h3 {
  padding-top:1rem;
  font-size:1.3rem;
  }

h4 {
  font-size:1.1rem;
  }

}

#readmore {
  padding-bottom:1rem;
}

.thesis-content .infotext {
  padding-bottom:1rem;
}

@media only screen and (max-width: 650px) {

  .thesis-content .infotext {
    padding-bottom:0;
  }

  img {
    border-radius:0px;
  }

h1 {
  padding-bottom:2rem;
}

h2 {
  padding-bottom: 1rem;
}

h3 {
  padding-top:0;
  padding-bottom: 0.5rem;
}

h4 {
  padding-bottom:2rem;
}

.container {
  padding:0;
}

#readmore {
  padding-bottom:0;
}


}

/* Logo and navigation bar */

header {
  top:0;
  width: 100%;
  display:flex;
  height: 4rem;
  position:fixed;
  z-index: 3;
  align-items:center;
  justify-content: space-between;
  background-color:white;
  border-bottom: 1px solid rgb(230, 255, 255);
  box-shadow: 0px 2px 10px rgb(0,128,128);
  }

.logo {
  display:flex;
  align-items:center;
  flex-grow:1;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 0.25rem;
  border-radius:0;
}

.logotext {
  font-size:1.5rem;
  font-weight:bold;
}

.logotext span:last-child {
  font-weight:normal;
  color:lightgray;
}

nav {
  padding-right: 1.5rem;
}

nav span {
  padding-left: 1rem;
  color: rgb(0,128,128);
}

.mobile {
  display:none;
}

              /* Media queries for this section */

@media only screen and (max-width: 650px) {
  .desktop {
    display:none;
  }
  .logo {
    display:none;
  }

  .logo {
    flex-grow: 0;
  }

  .mobile {
    display:flex;
    flex-grow:1;
    justify-content: space-around;
    align-items: center;
  }
  nav img{
    border-radius:0;
  }

  nav {
    padding:0;
  }

  nav span {
    padding:0;
  }
}


/* Top banner */

.starthere {
  margin-top: 4rem;
  margin-right: 0;
  display:flex;
  align-items: center;
  }

.herotext {
  max-width:40%;
  display:flex;
  flex-direction: column;

  }

.herotext p {
  background-color: rgb(0,128,128);
  width:60%;
  text-align:center;
  padding:0.5rem;
  border-radius:0px 15px;
  transition: all 0.5s linear;
}

.starthere p:hover {
  width:60%;
  cursor:pointer;
  background-color:darkslategray;
  border-radius:15px 0px;
  }

.starthere a {
  color:rgb(230, 255, 255);
  }



        /* Media queries for this section */

@media only screen and (max-width: 650px) {
  .starthere {
    flex-direction: column;

  }
  .image-container {
    width:100%;
    margin:0;
    }

  .container  {
    padding:0;
  }

  .herotext {
    max-width:100%;
    display:block;
    margin:0;
    padding:2rem 1rem;
    }

  .herotext p {
    width: 100%;
    border-radius:0px 0px;
    padding:1.25rem 0;
    font-size:1.25rem;
  }

  .starthere p:hover {
    width:100%;
    cursor:pointer;
    background-color:rgb(0,128,128);
    border-radius:10px 0px;
    }

}



/* Information */

.information {
  display:flex;
  background-color: hsl(0, 0%, 95%);
  align-items:flex-start;
  padding-top:1rem;
}

.information .image-container {
  padding-top:1rem;
}

.image-container h2 {
  padding-top: 2rem;
}
.infos {
  max-width:40%;
}

.info {
  display:flex;
  align-items: center;
  border-radius:50px 0px;
  transition: all 0.25s 0.1s linear;
  max-width:100%;
}

.info img {
  width:35%;
  height:100%;
  padding:1rem;
  opacity:0.8;
  transition: all 0.25s linear;
}

.info:hover img {
  border-radius:50px 0px;
  opacity:1;
}

.info:hover {
  background-color: white;
  box-shadow: 0px 2px 10px rgb(0,128,128);
}

#readmore {
  padding-top:0.75rem;
  color: rgb(0,128,128);
}

#reference {
  padding-top:32px;
  font-size:0.75rem;
}

              /* Media queries for this section */
@media only screen and (max-width: 1024px) {

.info:hover {
  border-radius: 35px 0px;
}

.info {
  border-radius: 0 35px;
}

.info:hover img {
  border-radius:30px 0px;
  opacity:1;
}

}



@media only screen and (max-width: 650px) {
  .information {
    padding-top:0;
    padding-bottom:1rem;
  }

  .infos {
    max-width:100%;
  }

  .info {
    flex-direction:column;
    align-items:left;
    max-width:100%;
    border-radius:0;
    margin:1rem;
  }

  #readmore {
    padding-bottom: 1rem;
  }

  .infotext {
    padding-left:1rem;
    padding-top:1rem;
  }



  #mobileimage {
    display:inline-block;
    width:100%;
    padding:0%;
      }

  #desktoponly {
    display:none
  }

  .info:hover img {
    border-radius:10px 0px;
  }

  .info:hover {
    border-radius:10px 0px;
  }

}

/* Start learning */

.startlearning {
  background-color:rgb(230, 255, 255);
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:1rem;
  }

.subjects {
  padding:0rem 1rem 1rem 1rem;
  background-color:rgb(230, 255, 255);
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.subject {
  width:30%;
  margin:1rem;
  padding-bottom:1.5rem;
  background-color:hsl(0, 0%, 95%);
  border-radius:0px 50px;
  transition: all 0.25s ease-out;
}

.subject:hover {
  background-color:white;
  border-radius:50px 0px;
  box-shadow: 0px 2px 10px rgb(0,128,128);
  cursor:pointer;
  }

.subject img {
  opacity:0.8;
  transition: all 0.25s ease-out;
}

.subject:hover img{
  opacity:1;
  border-radius:50px 0px;
}

.subject h3 {
  padding-top:1rem;
  padding-bottom:0;
  padding-left:1rem;
}

.subject p {
  padding-left:1rem;
  padding-top:0.5rem;
  padding-right:1rem;
}

      /* Media queries for this section */

@media only screen and (max-width: 650px) {

  .subject:hover {
    border-radius:10px 0px;
  }

  .startlearning {
    padding-bottom:1.75rem;
    }

  .subject p {
    display:none;
  }

  .subjects {
   flex-direction:column;
   width:100%;
   max-width:100%;
   padding:0;

  }

  .startlearning {
    padding-top:2rem;
  }

  .startlearning h2 {
    padding-bottom:1.75rem;
  }

  .subject {
    width:auto;
    margin:0.25rem 1rem;
    border-radius:0px;
    padding-right:1rem;
    transition: all 0.25s ease-out;
  }
}
/* Thesis */

#thesis {
  flex-direction:column;
  align-items:center;
}

.thesis-content {
  display:flex;

}

.thesis-content h3 {
  padding-top:1.5rem;
  padding-bottom:0;
}

.thesis-content p {
  padding-top:0.5rem
}

.video-container {
  position:relative;
  max-width:100%;
  }

video {
  position:relative;
  z-index:1;
  max-width:100%;
}

.video-container a {
  width:100%;
  text-align: center;
  position:absolute;
  top:40%;
  z-index:2;
  cursor:pointer;
  color:rgb(230, 255, 255);
}

/* Media queries for this section */

@media only screen and (max-width: 650px) {
  .video-container a {
    top:30%;
  }
  #thesis h2 {
    padding-top:2rem;
  }

  .video-container{
    padding-bottom:1.5rem;
  }
}

/* Footer */

footer {
  padding: 1rem 0rem 4rem 1.4rem;
  display:flex;
  background-color:#DCDCDC;
  align-items:center;
  justify-content: space-between;
  font-size:0.75rem;
  }

footer a:hover{
  color:white;
}

/* Media queries for this section */

@media only screen and (max-width: 650px) {
   footer { padding: 2rem 0rem 2rem 1rem;
  }
}
